<style type="text/css">
.sort-disable {
    margin-bottom: 15px;
    padding: 0;
    border: 1px solid #c0c6c9;
    background-color: #fff;
    border-radius: 3px;
}
.sort-disable:hover {
    border: 1px solid #adadad;
    border-top-color: #cfd0d0;
    border-left-color: #cfd0d0;
}
.sort-disable .field-header {
    margin-bottom: 10px;
    padding: 5px 5px;
    border-bottom: 1px solid #fff;
    background-repeat: no-repeat;
    background-position: 5px center;
    border-radius: 3px 3px 0 0;
}
.sort-disable .field-header:hover {
    cursor: move;
}
.sort-disable .field-header label {
    margin-left: 3px;
}
.sort-disable .field-content {
    padding: 0 10px 10px;
}
.sort-enable .selected-tab {
	mergin-left: 10px;
}
</style>
